.blog {
	position: relative;
	@include vp-767 {
		padding: 25px 0 77px;
	}
	&__heading {
		margin: 0 0 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include vp-767 {
			margin: 0 0 20px;
		}
		&-col {
			&--01 {
				@include vp-767 {
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	&__link-btn {
		padding: 16px 48px;
		border-radius: 7px;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		@include vp-767 {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			margin: 0;
			width: calc(100% - 2 * 15px);
			align-items: center;
			justify-content: center;
			max-width: 50%;
		}
		@include vp-639 {
			max-width: unset;
		}

	}
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 15px;
		@include vp-767 {
			grid-template-columns: auto;
		}
	}
	&__item {
		position: relative;
		height: 260px;
		padding: 30px;
		border-radius: 3px;
		overflow: hidden;
		background-color: $color-default-white;
		border: 1px solid $color-hawkes-blue;
		border-radius: 5px;
		transition: background-color $trans-default;
		@include vp-767 {
			padding: 20px;
			height: 125px;
		}
		&:hover {
			background-color: $color-transparent;
			&::before {
				visibility: visible;
				opacity: 1;
			}
		} 
		&:focus-visible {
			outline: none;
			background-color: $color-transparent;
			&::before {
				visibility: visible;
				opacity: 1;
			}
		}
		&:focus {
			outline: none;
			background-color: $color-transparent;
			&::before {
				visibility: visible;
				opacity: 1;
			}
		}
		&:hover & {
			&-date {
				color: $color-default-white;
			}
			&-title {
				color: $color-default-white;
			}
			&-text {
				color: $color-default-white;
			}
		}
		&:focus-visible & {
			&-date {
				color: $color-default-white;
			}
			&-title {
				color: $color-default-white;
			}
			&-text {
				color: $color-default-white;
			}
		}
		&:focus & {
			&-date {
				color: $color-default-white;
			}
			&-title {
				color: $color-default-white;
			}
			&-text {
				color: $color-default-white;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
				linear-gradient(0deg, rgba(45, 49, 66, 0.5), rgba(45, 49, 66, 0.5)),
				linear-gradient(0deg, rgba(17, 106, 204, 0.7), rgba(17, 106, 204, 0.7));
			visibility: hidden;
			opacity: 0;
			transition: visibility $trans-default, opacity $trans-default;
			z-index: -1;
		}
		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -2;
			border-radius: 5px;
			overflow: hidden;
		}
		&-pic {
			transition: visibility $trans-default, opacity $trans-default;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				object-fit: cover;
			}
			// &--main {
			// 	visibility: hidden;
			// 	opacity: 0;
			// }
			// &--hover {
			// 	visibility: visible;
			// 	opacity: 1;
			// }
		}
		&-date {
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: rgba($color-waikawa-grey, 0.5);
			transition: color $trans-default;
			@include vp-767 {
				font-size: 12px;
				line-height: 15px;
			}
		}
		&-title {
			margin: 29px 0 15px;
			font-weight: 600;
			font-size: 18px;
			line-height: 180%;
			color: $color-bunting;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			transition: color $trans-default;
			@include vp-767 {
				font-size: 14px;
				margin: 20px 0 0;
			}
		}
		&-text {
			font-weight: 400;
			font-size: 14px;
			line-height: 180%;
			color: $color-waikawa-grey;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			transition: color $trans-default;
			@include vp-767 {
				display: none;
			}
		}
	}
	&--pits {
		
	}
}
