.contacts {
	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 100px;
		@include vp-1023 {
			margin: 0 0 50px;
		}
		@include vp-767 {
			margin: 0 0 14px;
		}
	}
	&__title {
		font-size: 44px;
		line-height: 150%;
		margin: 0;
		@include vp-767 {
			font-size: 23px;
			line-height: 160%;
		}
	}
	&__regime {
		flex-shrink: 0;
		max-width: 103px;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.02em;
		@include vp-767 {
			display: none;
		}
		&--mobile {
			display: none;
			@include vp-767 {
				display: inline-block;
				font-size: 10px;
				line-height: 12px;
				text-align: right;
			}
		}
	}
	&__hero {
		display: flex;
		justify-content: space-between;
		@include vp-767 {
			flex-direction: column;
			margin: 0 0 20px;
		}
		&-col {
			width: calc(50% - 15px);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			@include vp-767 {
				width: 100%;
				margin: 0 0 30px;
			}
		}
		&-tel {
			font-weight: 500;
			font-size: 60px;
			line-height: 160%;
			transition: color $trans-default;
			color: $color-bunting;
			@include vp-1279 {
				font-size: 40px;
			}
			@include vp-767 {
				font-size: 37px;
			}
			@media (hover: hover), screen and (min-width: 0\0) {
				&:hover {
					color: $color-dark-orange;
				}
				&:focus-visible {
					outline: none;
					color: $color-dark-orange;
				}
				&:focus {
					outline: none;
					color: $color-dark-orange;
				}
			}
		}
		&-office-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 0 30px;
			@include vp-424 {
				width: 100%;
			}
		}
		&-title {
			font-weight: 800;
			font-size: 32px;
			line-height: 160%;
			color: $color-bunting;
			@include vp-767 {
				font-size: 20px;
			}
		}
		&-address {
			font-weight: 500;
			font-size: 27px;
			line-height: 140%;
			color: $color-waikawa-grey;
			display: block;
			max-width: 270px;
			margin: 0 0 20px;
			@include vp-767 {
				font-size: 27px;
				line-height: 120%;
				max-width: 100%;
			}
		}
		&-mail {
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 18px;
			line-height: 160%;
			color: $color-waikawa-grey;
			transition: color $trans-default;
			@media (hover: hover), screen and (min-width: 0\0) {
				&:hover {
					color: $color-dark-orange;
				}
				&:focus-visible {
					outline: none;
					color: $color-dark-orange;
				}
				&:focus {
					outline: none;
					color: $color-dark-orange;
				}
			}
			svg {
				flex-shrink: 0;
				margin: 0 8px 0 0;
			}
		}
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-flow: row;
		grid-auto-columns: 1fr;
		grid-column-gap: 125px;
		grid-row-gap: 40px;
		@include vp-1279 {
			grid-gap: 40px;
		}
		@include vp-1023 {
			grid-template-columns: 1fr 1fr;
		}
		@include vp-767 {
			grid-template-columns: auto;
		}
		&-item {
			&-title {
				display: block;
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				margin: 0 0 20px;
				color: $color-dark-orange;
				@include vp-767 {
					margin: 0 0 5px;
				}
			}
			&-tel {
				display: block;
				font-weight: 500;
				font-size: 28px;
				line-height: 160%;
				color: $color-default-black;
				transition: color $trans-default;
				white-space: nowrap;
				margin: 0 0 5px;
				@include vp-767 {
					font-size: 20px;
				}
				@media (hover: hover), screen and (min-width: 0\0) {
					&:hover {
						color: $color-dark-orange;
					}
					&:focus-visible {
						outline: none;
						color: $color-dark-orange;
					}
					&:focus {
						outline: none;
						color: $color-dark-orange;
					}
				}
			}
			&-mail {
				font-weight: 500;
				font-size: 18px;
				line-height: 160%;
				color: $color-default-black;
				@include vp-767 {
					color: $color-waikawa-grey;
				}
			}
		}
	}
	&--bottom {
		padding: 0 0 50px;
	}
}
