.docs {
	&__title {
		font-size: 44px;
		line-height: 150%;
		margin: 0 0 30px;
		@include vp-1023 {
			font-size: 32px;
			line-height: 160%;
		}
		@include vp-767 {
			font-size: 23px;
			letter-spacing: -0.01em;
		}
	}
	&__tabs {
		&-controls {
			padding: 0;
			margin: 0;
			list-style: none;
			&-wrap {
				padding: 0 0 10px;
			}
			&-item {
				&:not(:last-of-type) {
					margin: 0 30px 0 0;
				}
			}
		}
		&-control {
			display: flex;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			padding: 16px 32px;
			background-color: $color-ghost-white;
			border-radius: 10px;
			color: $color-bunting;
			text-transform: initial;
			opacity: 1;
			margin-right: 0;
			&.is-active {
				background-color: $color-dark-orange;
				color: $color-default-white;
			}
		}
		&-content {
			margin: 0;
			&-wrap {
				margin: 50px 0 0;
				@include vp-767 {
					margin: 40px 0 0;
				}
			}
		}
	}
	&__items {
		&-list {
			margin: 0;
			padding: 0;
			list-style: none;
			&:not(:last-of-type) {
				margin: 0 0 57px;
				@include vp-767 {
					margin: 0 0 40px;
				}
			}
			&-title {
				font-weight: 700;
				font-size: 24px;
				line-height: 29px;
				margin: 0 0 27px;
				@include vp-767 {
					font-size: 14px;
					line-height: 17px;
					margin: 0 0 20px;
				}
			}
		}
	}
	&__item {
		&-list {
			margin: 0;
			padding: 0;
			list-style: none;
			&-item {
				display: flex;
				align-items: flex-start;
				&:not(:last-of-type) {
					margin: 0 0 27px;
				}
				&:hover {
					.docs__item-list-icon svg {
						color: $color-default-black;
					}
				}
				&:focus-visible {
					outline: none;
					.docs__item-list-icon svg {
						color: $color-default-black;
					}
				}
				&:focus {
					outline: none;
					.docs__item-list-icon svg {
						color: $color-default-black;
					}
				}
			}
			&-icon {
				width: 30px;
				height: 30px;
				flex-shrink: 0;
				margin: 0 20px 0 0;
				border-radius: 50%;
				border: 1px solid $color-dark-orange;
				display: flex;
				align-items: center;
				justify-content: center;
				@include vp-767 {
					margin: 0 15px 0 0;
				}
				svg {
					color: $color-apple;
					transition: color $trans-default;
				}
			}
			&-link {
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: $color-waikawa-grey;
				max-width: 658px;
				text-decoration: underline;
				@include vp-767 {
					font-weight: 400;
					font-size: 14px;
					line-height: 17px;
				}
			}
		}
	}
}
