.projects {
	&__heading {
		margin: 0 0 30px;
		@include vp-767 {
			text-align: center;
		}
	}
	&__cols {
		display: flex;
		align-items: flex-end;
		width: 100%;
		max-height: 500px;
		position: relative;
		@include vp-767 {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__col {
		&--01 {
			flex: 1;
			width: 100%;
			max-width: 970px;
			height: 100%;
			border-radius: 5px;
			overflow: hidden;
			// background-color: $color-gainsboro;
		}
		&--02 {
			flex: 0 0 170px;
			margin: 0 0 0 30px;
			width: 170px;
			@include vp-1023 {
				flex: 0 0 140px;
				width: 140px;
			}
			@include vp-767 {
				width: 100%;
				flex: 1 1 auto;
				margin: 15px 0 0;
			}
		}
	}
	&__slider {
		height: 500px;
		@include vp-767 {
			height: 349px;
		}
		&-item {
			width: 100%;
			height: 100%;
			position: relative;
			padding: 22px 40px 30px 30px;
			border-radius: 5px;
			overflow: hidden;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
				background: linear-gradient(180deg, rgba(45, 49, 66, 0.4) -4.4%, rgba(45, 49, 66, 0.1) 100%),
					linear-gradient(0deg, rgba(45, 49, 66, 0.2), rgba(45, 49, 66, 0.2));
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;
			}
			&-row {
				display: flex;
				justify-content: space-between;
				margin: 0 0 22px;
				position: relative;
				@include vp-639 {
					flex-direction: column;
				}
			}
			&-title {
				font-weight: 600;
				font-size: 14px;
				line-height: 160%;
				margin: 0 0 6px;
				@include vp-639 {
					margin: 0;
				}
			}
			&-subtitle {
				font-weight: 800;
				font-size: 24px;
				line-height: 160%;
				@include vp-1023 {
					font-size: 20px;
				}
			}
			&-volume {
				color: $color-default-white;
				@include vp-639 {
					margin: 30px 0 0;
					display: flex;
					flex-direction: column;
				}
				.volume-text {
					font-weight: 600;
					font-size: 16px;
					line-height: 160%;
				}
				.volume-value {
					font-weight: 800;
					font-size: 24px;
					line-height: 160%;
					@include vp-1023 {
						font-size: 20px;
					}
				}
			}
			&-die {
				position: relative;
				max-width: 270px;
				background-color: $color-default-white;
				padding: 20px;
				box-shadow: 0px 38px 128px rgba(45, 49, 66, 0.05), 0px 15.0165px 53.4753px rgba(45, 49, 66, 0.0356306),
					0px 8.57474px 28.5905px rgba(45, 49, 66, 0.0292677), 0px 5.32214px 16.0276px rgba(45, 49, 66, 0.0242737),
					0px 3.15228px 8.51213px rgba(45, 49, 66, 0.0193068), 0px 1.45895px 3.54209px rgba(45, 49, 66, 0.013063);
				border-radius: 5px 5px 0 5px;
				clip-path: polygon(100% 0, 100% 93%, 91% 100%, 0 100%, 0 0);
				@include vp-767 {
					display: none;
				}
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 24px 24px 0 0;
					border-color: $color-manatee transparent transparent transparent;
				}
				.die-title {
					display: flex;
					margin: 0 0 20px;
					&__icon {
						margin: 0 10px 0 0;
						color: $color-dark-orange;
					}
					&__text {
						font-weight: 700;
						font-size: 16px;
						line-height: 160%;
						color: $color-bunting;
					}
				}
				.die-address {
					font-weight: 500;
					font-size: 14px;
					line-height: 180%;
					margin: 0 0 33px;
					&__text {
						color: $color-bunting;
					}
					&__value {
						color: $color-waikawa-grey;
					}
				}
				.die-work,
				.die-term {
					font-size: 14px;
					line-height: 160%;
					margin: 0 0 20px;
					&__text {
						display: block;
						font-weight: 400;
						color: $color-waikawa-grey;
					}
					&__value {
						font-weight: 600;
						color: $color-bunting;
					}
				}
				.die-term {
					margin: 0 0 33px;
				}
				.die-link-btn {
					font-weight: 700;
					font-size: 12px;
					line-height: 15px;
					padding: 12.5px 28px;
					border-radius: 7px;
					margin: 0;
				}
			}
			&-next {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: column;
				background-color: $color-bunting;
				border-radius: 5px;
				padding: 48px 37px 37px;
				width: 100%;
				height: fit-content;
				max-height: 500px;
				min-height: 440px;
				color: $color-default-white;
				transition: background-color $trans-default;
				cursor: pointer;
				@include vp-1023 {
					padding: 25px;
				}
				@include vp-767 {
					writing-mode: initial;
					min-height: initial;
					max-height: 349px;
					flex-direction: row-reverse;
				}
				@media (hover: hover), screen and (min-width: 0\0) {
					&:hover {
						background-color: $color-dark-orange;
					}
					&:focus-visible {
						outline: none;
						background-color: $color-dark-orange;
					}
					&:focus {
						outline: none;
						background-color: $color-dark-orange;
					}
				}
				svg {
					margin: 0 0 auto;
					flex-shrink: 0;
					@include vp-767 {
						margin: 0;
						width: 36px;
						height: 18px;
					}
				}
				.next-title {
					width: 100%;
					max-height: 390px;
					flex-grow: 1;
					writing-mode: vertical-rl;
					transform: rotate(180deg);
					@include vp-767 {
						transform: none;
						padding: 0 20px 0 0;
					}
					&__title {
						display: block;
						font-weight: 600;
						font-size: 14px;
						line-height: 160%;
						color: rgba($color-default-white, 0.6);
					}
					&__subtitle {
						display: block;
						width: 52px;
						height: 370px;
						font-weight: 800;
						font-size: 2rem;
						line-height: 160%;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						color: #ffffff;
						writing-mode: vertical-rl;
						@include vp-767 {
							font-size: 18px;
						}
					}
				}
			}
		}
		&-nav {
			position: absolute;
			width: 200px;
			height: 60px;
			bottom: 0;
			left: auto;
			right: 0;
			background-color: #fff;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 18px;
		}
		&-btns {
			// position: absolute;
			width: 75px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
		}
		&-btn {
			position: initial;
			color: $color-bunting;
			margin: 0;
			&::after {
				display: none;
			}
			svg {
				color: $color-bunting;
				transition: color $trans-default;
				width: 20px;
				height: 20px;
			}
			&.swiper-button-disabled {
				opacity: 1;
				svg {
					color: $color-hawkes-blue;
				}
			}
			&--next {
				right: 0;
			}
			&--prev {
				left: 0;
			}
		}
	}
	&__content-title {
		color: $color-orange-red;
	}
	&__text {
		margin: 25px 0 auto 0;
		line-height: 220%;
	}

	.swiper-pagination-fraction {
		position: initial;
		right: 295px;
		bottom: 0;
		width: 70px;
		left: auto;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 160%;
		color: $color-bunting;
	}
	.swiper-pagination-current {
		display: inline-block;
		width: 33%;
	}
	.swiper-pagination-total {
		font-size: 16px;
		line-height: 26px;
	}
	&--demolition & {
		&__slider {
			&-item {
				&-die {
					.die-title {
						&__icon {
							color: $color-outrageous-orange;
						}
					}
				}
				&-next {
					@media (hover: hover), screen and (min-width: 0\0) {
						&:hover {
							background-color: $color-outrageous-orange;
						}
						&:focus-visible {
							outline: none;
							background-color: $color-outrageous-orange;
						}
						&:focus {
							outline: none;
							background-color: $color-outrageous-orange;
						}
					}
				}
			}
		}
	}
	&--road &,
	&--pits & {
		&__slider {
			&-item {
				&-die {
					.die {
						&-title {
							&__icon {
								color: $color-cobalt;
							}
						}
						&-link-btn {
							color: $color-cobalt;
							padding: 7px;
							margin: -7px;
							&::after {
								background-color: $color-cobalt;
							}
						}
					}
				}
				&-next {
					background-color: $color-cobalt;
					@media (hover: hover), screen and (min-width: 0\0) {
						&:hover {
							background-color: rgba($color-cobalt, 0.8);
						}
						&:focus-visible {
							outline: none;
							background-color: rgba($color-cobalt, 0.8);
						}
						&:focus {
							outline: none;
							background-color: rgba($color-cobalt, 0.8);
						}
					}
				}
			}
		}
	}
}
