.tech {
	&__heading {
		margin: 0 0 50px;
		@include vp-1023 {
			text-align: center;
		}
		@include vp-767 {
			margin: 0 0 20px;
		}
	}
	&__cols {
		display: flex;
		@include vp-1023 {
			flex-direction: column;
		}
	}
	&__col {
		width: 50%;
		@include vp-1023 {
			width: 100%;
			padding: 0 100px;
		}
		@include vp-767 {
			padding: 0;
		}
		&--01 {
			position: relative;
			padding: 0 0 40px 0;
		}
		&--02 {
			padding: 0 0 0 15px;
			display: flex;
			flex-direction: column;
			@include vp-1023 {
				margin: 48px 0 0 0;
			}
		}
	}
	&__slider {
		&-item {
			width: 100%;
			max-width: 500px;
			overflow: hidden;
			border-radius: 5px;
			position: relative;
			@include vp-1023 {
				img {
					width: 100%;
					border-radius: inherit;
				}
			}
		}
		&-die {
			width: fit-content;
			position: absolute;
			right: 35px;
			bottom: 5px;
			display: flex;
			align-items: center;
			padding: 16px 24px;
			background-color: $color-default-white;
			box-shadow: 0px 38px 128px rgba(45, 49, 66, 0.025), 0px 15.0165px 53.4753px rgba(45, 49, 66, 0.02),
				0px 8.57474px 28.5905px rgba(45, 49, 66, 0.015), 0px 5.32214px 16.0276px rgba(45, 49, 66, 0.0175),
				0px 3.15228px 8.51213px rgba(45, 49, 66, 0.01), 0px 1.45895px 3.54209px rgba(45, 49, 66, 0.0075);
			border-radius: 10px;
			@include vp-1023 {
				padding: 15px;
				left: 50%;
				bottom: -35px;
				transform: translateX(-50%);
			}
			&-icon {
				color: $color-outrageous-orange;
				margin: 0 24px 0 0;
				@include vp-1023 {
					margin: 0 15px 0 0;
				}
			}
			&-name {
				font-weight: 600;
				font-size: 18px;
				line-height: 145%;
				@include vp-1023 {
					font-size: 14px;
				}
			}
		}
		&-nav {
			position: relative;
			left: 50%;
			bottom: 40px;
			@include vp-1279 {
				bottom: -10px;
			}
			@include vp-1023 {
				bottom: 0;
				margin: 40px 0 0;
				width: 100%;
				height: 39px;
				left: 85px;
			}
			@include vp-767 {
				margin: 30px 0 0;
				padding: 0;
				left: 0;
			}
		}
		&-btns {
			position: absolute;
			width: 75px;
			left: 100px;
			bottom: 20px;
		}
		&-btn {
			color: $color-bunting;
			&::after {
				display: none;
			}
			svg {
				color: $color-bunting;
				transition: color $trans-default;
				width: 20px;
				height: 20px;
			}
			&.swiper-button-disabled {
				opacity: 1;
				svg {
					color: $color-hawkes-blue;
				}
			}
			&--next {
				right: 0;
			}
			&--prev {
				left: 0;
			}
		}
	}
	&__btn {
		display: flex;
		margin: 2rem auto;
		padding: 16px 48px;
		border-radius: 7px;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
	}
	&__content-title {
		color: $color-outrageous-orange;
	}
	&__text {
		margin: 25px 0 0;
		line-height: 220%;
		@include vp-1279 {
			margin: 20px 0 0;
		}
	}
	.swiper-pagination-fraction {
		right: auto;
		bottom: 0;
		width: 70px;
		left: 0;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 160%;
		color: $color-bunting;
		@include vp-767 {
			text-align: left;
		}
	}
	.swiper-pagination-current {
		display: inline-block;
		width: 33%;
	}
	.swiper-pagination-total {
		font-size: 16px;
		line-height: 26px;
	}
	&__bottom {
		min-height: 370px;
		margin: 75px 0;
		padding: 50px 0 58px 0;
		background-color: $color-bunting;
		@include vp-1279 {
			padding: 50px 0 345px;
		}
		@include vp-1023 {
			padding: 50px 0 33%;
			
		}
		@include vp-767 {
			margin: 50px 0;
			padding: 30px 0 46%;
		}
		@include vp-639 {
			padding: 30px 0 50%;
		}
		&-cols {
			display: flex;
			@include vp-1279 {
				flex-direction: column;
			}
		}
		&-col {
			&--01 {
				flex: 0 0 500px;
				padding: 0 100px 0 0;
				@include vp-1279 {
					padding: 0;
					flex: auto;
					text-align: center;
				}
			}
			&--02 {
				width: 100%;
				position: relative;
			}
		}

		&-title {
			color: $color-default-white;
			margin: 0 0 40px;
			@include vp-1023 {
				margin: 0 0 15px;
			}
		}
		&-text {
			color: $color-lavender-grey;
		}
		&-video {
			position: absolute;
			left: auto;
			right: 0;
			top: auto;
			width: 100%;
			max-width: 670px; // временно?
			height: 396px; // временно?
			background: $color-default-white;
			box-shadow: 0px 38px 128px rgba(45, 49, 66, 0.025), 0px 15.0165px 53.4753px rgba(45, 49, 66, 0.02),
				0px 8.57474px 28.5905px rgba(45, 49, 66, 0.015), 0px 5.32214px 16.0276px rgba(45, 49, 66, 0.0175),
				0px 3.15228px 8.51213px rgba(45, 49, 66, 0.01), 0px 1.45895px 3.54209px rgba(45, 49, 66, 0.0075);
			border-radius: 10px;
			padding: 10px;
			@include vp-1279 {
				left: 50%;
				top: 25px;
				right: auto;
				bottom: auto;
				transform: translateX(-50%);
			}
			@include vp-1023 {
				height: auto;
				max-width: calc(70% - 2 * 15px);
			}
			@include vp-767 {
				max-width: calc(90% - 2 * 15px);
			}
			@include vp-639 {
				max-width: 100%;
				padding: 5px;
			}
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 7px;
				@include vp-1023 {
					height: auto;
				}
				@include vp-424 {
					min-height: 200px;
				}
			}
			&-btn {
				margin: 0;
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
				width: 46px;
				height: 46px;
				border-radius: 50%;
				padding: 0 0 0 2px;
				align-items: center;
				justify-content: center;
				z-index: 5;
				visibility: visible;
				opacity: 1;
				transition: opacity $trans-default;
				&.is-hidden {
					visibility: hidden;
					opacity: 0;
				}
				svg {
					pointer-events: none;
				}
			}
		}
	}
	&--demolition & {
		&__heading {
			margin: 0 0 7px;
		}
		&__slider {
			&-heading {
				margin: 0 0 50px;
			}
		}
		&__content {
			&-title {
				color: $color-outrageous-orange;
			}
		}
	}
	&--road & {
		&__heading {
			margin: 0 0 7px;
		}
		&__slider {
			&-heading {
				margin: 0 0 50px;
			}
		}
		&__content {
			&-title {
				color: $color-cobalt;
			}
		}
	}
	&--improvement & {
		&__heading {
			margin: 0 0 7px;
		}
		&__slider {
			&-heading {
				margin: 0 0 50px;
			}
		}
		&__content {
			&-title {
				color: $color-cobalt;
			}
		}
		&__bottom {
			&-col {
				&--01 {
					padding: 0 30px 0 0;
				}
			}
		}
	}
	&--pits & {
		&__heading {
			margin: 0 0 7px;
		}
		&__slider {
			&-heading {
				margin: 0 0 50px;
			}
		}
		&__content {
			&-title {
				color: $color-cobalt;
			}
		}
		&__bottom {
			margin: 100px 0 80px;
			&-col {
				&--01 {
					padding: 0 30px 0 0;
				}
			}
		}
	}
}
